<!doctype html>
<html lang="en" ng-app='omnigrahm'>
<head>
  <title>Omnigrahm</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller='AppController' data-ng-init="init()">
  <div id='app'>
    <div id="modal-overlay" ng-class='{"transitionIn": modalBoolean, "modalDone": modalBooleanDone}'></div>
    <div id="modal-box" ng-class='{"transitionIn": modalBoolean, "modalDone": modalBooleanDone}'>
      <h2>Omnigraph</h2>
      <div>A map of positive and negative Instagram pictures across the United States. Check it out on <a href='https://github.com/silver-octopus-labs/opal-device'>GitHub</a>.</div>
      <div class='authors'>Made by <a href='https://github.com/silver-octopus-labs'>Silver Octopus Labs</a>: <a href='https://github.com/dsinkey'>Dustin</a>, <a href='https://github.com/brianjscoles'>Brian</a>, <a href='https://github.com/thejsj'>Jorge</a>, & <a href='https://github.com/loringdodge'>Loring</a></div>
    </div>
    <div class='header'>
    <h1>Omnigrahm</h1>
    <form id='main-form' ng-controller='FormController as form'>
      <input
        class='input city-name' type='text'
        ng-autocomplete ng-model='fieldText' ng-change='triggerChange()' placeholder='San Francisco'
        details='currentCity' options='cities'
        />
      <input class='input submit' type='submit' value='Search' ng-click='submitForm()'/>
    </form>
    <div id="info" ng-click="modal()">i</div>
    </div>
    <div id='main-svg-map' class='svg-map' ng-class='activeClasss'>
      <svg id='main-svg'>
        <g class="city legend Helena transition-done centered">
          <text dx="1064.69106679919236" dy="479.46000364286078" class="text city-name">City Name</text>
          <circle cx="1064.69106679919236" cy="519.46000364286078" r="30" class="city neutral"></circle>
          <circle cx="1064.69106679919236" cy="519.46000364286078" r="1" class="city neutral middle"></circle>
          <circle cx="1056.4334910416166" cy="519.46000364286078" r="17.742424" class="city positive"></circle>
          <text dx="1056.4334910416166" dy="519.46000364286078" class="text positive">Positive</text>
          <circle cx="1091.50924861737417" cy="519.46000364286078" r="8.181818181818182" class="city negative"></circle>
          <text dx="1091.50924861737417" dy="519.46000364286078" class="text negative">Negative</text>
        </g>
      </svg>
    </div>
  </div>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/topojson/topojson.js"></script>
  <script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
  <script src="js/graph.js"></script>
  <script src='js/main.js'></script>
</body>
</html>
